<div class="section logo">
  {{! <p class="lead">Create public and private stories from your life</p> }}
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn #123c4c">
    <i class="fab fa-google left"></i>
    Log In With Google
  </a>
</div>